.botao-salvar {
    --background: #28a745;
    --color: white;
}

.botao-cancel{
    --background: #dc3545;
    --color: white;
}

.erro {
  color: #e74c3c;
  font-size: 0.9em;
  margin-left: 15px;
  margin-bottom: 8px;
}