<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Contatos Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let contato of favoritos">
      <ion-label>{{ contato.nome }}</ion-label>
      <ion-button slot="end" fill="clear" (click)="removerFavorito(contato.nome)">
        <ion-icon name="heart" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="favoritos.length === 0">
    <ion-label>Nenhum contato favorito</ion-label>
  </ion-item>
</ion-content>