<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Contatos Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="Dark">
  <ion-list>
    <ion-item *ngFor="let contato of favoritos" (click)="abrirDetalhes(contato)">
      <ion-label>{{ contato.nome }}</ion-label>
      <ion-button slot="end" fill="clear" (click)="removerFavorito(contato.nome); $event.stopPropagation()">
      <!-- O uso de $event.stopPropagation() dentro do botão de remover 
       evita que o clique no botão também dispare a abertura da página de detalhes.--> 
        <ion-icon name="heart" color="danger"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="favoritos.length === 0">
      <ion-label>Nenhum contato favorito</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
