<ion-header>
  <!-- Título em barra preta -->
  <ion-toolbar class="titulo-preto">
    <ion-title>Contatos Favoritos</ion-title>
  </ion-toolbar>

  <!-- Botão de voltar em barra branca -->
  <ion-toolbar class="toolbar-branca">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-content class="ion-padding" color="Dark">
  <ion-list>
    <ion-item *ngFor="let contato of favoritos">
      <ion-label>{{ contato.nome }}</ion-label>
      <ion-button slot="end" fill="clear" (click)="removerFavorito(contato.nome)">
        <ion-icon name="heart" color="danger"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="favoritos.length === 0">
      <ion-label>Nenhum contato favorito</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
