<ion-header translucent="false" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Contatos</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar contato..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list>
    <ion-item-divider>
      <ion-label>A</ion-label>
    </ion-item-divider>
    <ion-item>Alisson</ion-item>
    <ion-item>Andreia</ion-item>
    <ion-item>Angela</ion-item>
    <ion-item>Ana</ion-item>

    <ion-item-divider>
      <ion-label>B</ion-label>
    </ion-item-divider>
    <ion-item>Bárbara</ion-item>
    <ion-item>Bruno</ion-item>

    <ion-item-divider>
      <ion-label>C</ion-label>
    </ion-item-divider>
    <ion-item>Caio</ion-item>
    <ion-item>Carlos</ion-item>

    <ion-item-divider>
      <ion-label>D</ion-label>
    </ion-item-divider>
    <ion-item>Débora</ion-item>
    <ion-item>Duda</ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="dark" [routerLink]="['/tabs/adicionar']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
