ion-toolbar[color="dark"] {
  --background: #000;
  --color: #fff;
}

ion-tab-bar[color="dark"] {
  --background: #000;
  --color: #fff;
  --color-selected: #fff;
}

ion-item-divider {
  --background: #d9d9d9;
  --color: #000;
}
