<ion-header translucent="false" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Contatos</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar contato..."
      [(ngModel)]="termoBusca"
      (ionInput)="filtrarContatos()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list *ngFor="let letra of contatosAgrupados | keyvalue : alphabetical">
  <ion-item-divider>
    <ion-label>{{ letra.key }}</ion-label>
  </ion-item-divider>
  <ion-item *ngFor="let contato of letra.value">
    {{ contato.nome }}
  </ion-item>
</ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="dark" [routerLink]="['/tabs/adicionar']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
