<ion-header translucent="false" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Contatos</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar contato..."
      [(ngModel)]="termoBusca"
      (ionInput)="filtrarContatos()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let grupo of contatosAgrupados">
    <ion-item-divider>
      <ion-label><strong>{{ grupo.letra }}</strong></ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let contato of grupo.contatos">
      <ion-label>
        <h2>{{ contato.nome }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="contatosAgrupados.length === 0">
    <ion-label>Nenhum contato encontrado.</ion-label>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="dark" [routerLink]="['/adicionar']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
