ion-card-content img {
  margin-bottom: 10px;
}

.erro {
  color: #e74c3c;
  font-size: 0.9em;
  margin-left: 15px;
  margin-bottom: 8px;
}

.botao-salvar {
    --background: #28a745;
    --color: white;
}

.botao-cancel{
    --background: #dc3545;
    --color: white;
}

.info-box {
  background: transparent;
  font-size: 16px;
  padding: 16px;
  margin-bottom: 80px;
}

.info-box p {
  margin-bottom: 18px;
  color: #000;
}


.botoes-acao {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.editperfil {
  width: 56px;
  height: 56px;
  --border-radius: 50%;
  --box-shadow: none;
}

.label-acao {
  margin-top: 8px;
  font-size: 14px;
}


.btn-lixeira {
  --background: #000;
  --color: #fff;
}